<html>
  <head>
      <title>Blogao do Blu</title>
  </head>
  <body>
    <h1>LESAITE</h1>
    <h2>A VINGANÇA</h2>
    <h3>DO BURU</h3>
    <p>EAE CARAIO</p>
    <P>SAPORRA TA FUNFANDO NUM TA NAO??? TA SIM <em>PORRA</em></P>
    <a href="https://www.newgrounds.com/portal/view/470460">DOOMZINHOEMFLASH</a>
    <ul><li>Primeiro Item: O SAITE funfo</li><li>Segundo item:Eu sou belo e lindo</li><li>Terceiro item: VOCÊ É LINDO(A) E BELAZUDA(BELOZUDO SEPA)</li></ul>
    <div>
      <h1> /\ DIVIDIU MANO</h1>
    </div>

  </body>
</html>
